.section-banner{
  .carousel-inner{
    .carousel-item{
      background-size: cover;
      min-height: 599px;
    }
  }
}
.berita-pesantren{
  background-color: #e2e4f7;
  .card-berita-image{
    background-size: cover;
    background-color: rgb(230, 230, 230);
    min-height: 187px;
  }
}

.agenda-pesantren{
  background-color: #e2e4f7;
  .card-img-agenda{
    background-size: cover;
    background-color: rgb(230, 230, 230);
    min-height: 187px;
  }
}

.section-galeri-popular{
  .section-galeri-content{
    .card-galeri{
      min-height: 229px;
      background-color: rgb(253, 0, 0);
      background-size: cover;
      margin-bottom: 19px;
      border-radius: 11px;
    }
  }
}

.section-footer{
  a{
    color: rgb(233, 233, 233);
    text-decoration: none;
    & :hover{
      text-decoration: underline;
      color: white;
    }
  }
}

.footer-link{
  color: #ffff;
  & :hover{
    color: blue;
  }
}

// .card-contact{
//   .contact-map{
//     width: 520px;
//     height: 460px;
//     border-radius: 0 5px 5px 0;    
//   }
// }



